.plan-title, .price-title {
  color: $base-color-b;
}

.plan-desc, .price-short-desc {
  color: #aaa;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.plan-cost {
  font-size: 18px;
  margin-bottom: 35px;
  span {
    font-size: 30px;
    color: $base-color-y;
    font-weight: bold;
  }
}

.plan-list, .price-features-list {
  margin-bottom: 25px;
}

.plan-list > i, .price-features-list > li {
  margin-bottom: 8px;
  padding-left: 30px;
  position: relative;
  &::before {
    color: $base-color-b;
    content: "\f00c";
    font-family: "FontAwesome";
    left: 0;
    position: absolute;
    top: 0;
  }
}

.pland-bottom-box {
  border: 1px solid #ddd;
  @include border_radius(3px);
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.pland-bottom-box, .ih-pricing-table-1 {
  &.featued, &.highlight {
    border: 1px solid $base-color-y;
  }
}

.ih-pricing-table-1 {
  .text-feature, .hight-light-text {
    background-color: #e43e43;
    color: #fff;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: -65px;
    text-align: center;
    text-transform: uppercase;
    top: 16px;
    @include transform_rotate(46deg);
    width: 200px;
  }
}
